.about {
    padding-bottom: 4.9375rem;

    & .page__row {
        margin-bottom: 0;
    }

    @media (min-width: $w768) {
        padding-bottom: 12rem;
    }
}

.about__title {
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 5.75rem;

    position: relative;

    &::after {
        content: "";
        height: 4rem;
        position: absolute;
        bottom: -4.5rem;
        left: 0;
        right: -1rem;
        max-width: 21rem;
        background-image: url("../img/dest/images/since2001.svg");
        background-size: cover;
    }


    @media (min-width: $w768) {
        margin: 0;
    }
}

.about__text {
    margin: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.about__text-wrapper {
    max-width: 36rem;
}

.about .page__hr-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $w768) {
        margin-top: .4375rem;
        margin-bottom: 3rem;
    }

    @media (min-width: $w1024) {
        margin-top: 1.9375rem;
    }

    @media (min-width: $w1280) {
        margin-top: 3.4375rem;
    }
}

.about__amount {
    display: block;
    margin-top: 5rem;
    margin-bottom: 1.75rem;

    font-family: "Prata", 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 400;

    @media (min-width: $w768) {
        margin-top: 6.1875rem;
        margin-bottom: 3.75rem;
        text-align: center;
    }

    @media (min-width: $w1024) {
        margin-top: 12rem;
    }
}

.about__amount-slider {
    display: grid;
    grid-template-columns: repeat(25, 5.5rem);
    grid-template-rows: repeat(2, 8rem);
    grid-gap: 1rem;

    overflow: hidden;
}

.about__amount-image {
    display: flex;
    background-color: #c4c4c4;
    height: 8rem;
    opacity: 0.6;
    border-radius: 1rem;

    grid-column: span 2;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}