.categories-list {
    list-style: none;

    margin-bottom: -3rem;
    padding-bottom: 3rem;
    font-size: 0;

    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    @media (min-width: $w768) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $w1024) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 3.75rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        display: block;
        overflow-x: auto;
    }

    @media (min-width: $w1280) {
        padding-left: 2rem;
        margin-left: -2rem;
    }
}

.categories-list__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: .9375rem;
    display: inline-block;

    opacity: 0.4;

    &--current {
        opacity: 1;
    }

    @media (min-width: $w1024) {
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-left: -1rem;
    }
}

.categories-list__link {
    text-decoration: none;
    color: inherit;
}

.categories-list__scroll-hider {
    overflow: hidden;
}