.categories-list {
    list-style: none;

    margin-bottom: -3rem;
    padding-bottom: 3rem;
    font-size: 0;

    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    @media (min-width: $w768) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $w1024) {
        padding-left: 1.5rem;
        padding-bottom: 0;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        display: block;
        overflow-x: auto;
    }

    @media (min-width: $w1280) {
        padding-left: 2rem;
        margin-left: -2rem;
    }
}

.categories-list__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;

    &--current {

        & .categories-list__link {
            cursor: default;
            opacity: 1;
        }
    }

    @media (min-width: $w1024) {        
        padding-top: .5rem;
        padding-bottom: .25rem;
        margin-left: -1rem;
        display: block;
    }
}

.categories-list__link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    
    font-family: "SourceCodePro", Arial, Helvetica, sans-serif;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1.5rem;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $dark-green;

    opacity: 0.4;

    transition: opacity 0.1s ease-out;

    &:hover {
        opacity: 1;
    }

    @media (min-width: $w1024) {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
}

.categories-list__scroll-hider {
    overflow: hidden;
    position: relative;

    @media (max-width: 767.9px) {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 4rem;
            height: 100%;
            background: linear-gradient(270deg, $bg-color 40%, rgba(255, 255, 255, 0) 100%);
        }
    }

    @media (max-width: 1023.9px) {
        margin-bottom: 0.5rem;
    }

    @media (min-width: $w1024) {
        overflow: visible;
    }
}