.contacts {
    @media (min-width: $w768) {
        padding-bottom: 3rem;
    }
}

.contacts__title {
    margin: 0;
    padding-top: 2.5rem;
    margin-bottom: 1.25rem;

    @media (min-width: $w768) {
        margin: 0;
        padding: 0;
    }
}

.contacts__text {
    margin: 0;
    margin-bottom: 2rem;

    @media (min-width: $w1024) {
        margin: 0;
    }

    @media (min-width: $w1280) {
        max-width: 35rem;
    }
}

.contacts__dl {
    margin: 0;
    margin-bottom: 2rem;

    @media (min-width: $w768) {
        margin-bottom: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        align-content: start;
    }   
}

.contacts__dt {
    margin-bottom: .5rem;

    font-weight: 700;
    font-size: 1rem;
}

.contacts__dd {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: .9375rem;

    @media (min-width: $w768) {
        margin: 0;
    }
}

.contacts__link {
    display: block;
    color: inherit;
}

.contacts__map {
    min-height: 20rem;
    background-color: #c4c4c4;

    @media (min-width: $w768) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        min-height: 23.5rem;
    }

    @media (min-width: $w1024) {
        margin: 0;
    }
}

.contacts__row {
    @media (min-width: $w1024) {
        max-width: 77rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;

        & .page__container {
            padding: 0;
        }
    }

    @media (min-width: $w1280) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.contacts .page__row {
    @media (min-width: $w1024) {
        margin-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: $w1280) {
        margin-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}