.cta {
    padding-top: 3rem;

    @media (min-width: $w768) {
        padding-top: 4.5rem;
        margin-left: auto;
        margin-right: auto;
        width: calc((100% - 1rem * 7 - 3rem) / 8 * 6 + 1rem * 5);

        text-align: center;
    }

    @media (min-width: $w1024) {
        padding-top: 6.5rem;
        width: calc((100% - 1rem * 11 - 3rem) / 12 * 8 + 1rem * 7);
    }

    @media (min-width: $w1280) {
        max-width: 37.5rem;
    }
}

.cta__message {
    margin-bottom: 1.5rem;

    display: block;

    font-family: "SourceSerifPro", 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;

    @media (min-width: $w768) {
        margin-bottom: 2.5rem;

        font-size: 2rem;
        line-height: 2.25rem;
    }
}

.cta__text {
    margin: 0;
    margin-bottom: 2rem;

    @media (min-width: $w768) {
        margin-bottom: 4rem;
    }
}

.cta__social-links {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    @media (min-width: $w768) {
        margin-bottom: 0;
        flex-basis: 50%;
        justify-content: start;
        margin-right: 1rem;
    }
}

.cta .page__hr-2 {
    display: none;

    @media (min-width: $w768) {
        display: block;
        margin-top: 1.9375rem;
        margin-bottom: 1.25rem;
    }
}

.cta__form-wrapper {
    position: relative;
}

.cta__form-done {
    display: none;
    flex-direction: column;
    justify-content: center;

    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}

.cta__privacy {
    margin: 0;
    font-size: .75rem;
    line-height: 1.25rem;
    text-align: left;

    color: $black60;

    & a {
        color: inherit;
    }

    @media (min-width: $w768) {
        flex-basis: 50%;
    }

    @media (min-width: $w1024) {
        line-height: 1.5rem;        
        font-size: .875rem;
    }
}

.cta__footer {    
    margin-bottom: 4.6875rem;

    @media (min-width: $w768) {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8.25rem;
    }

    @media (min-width: $w1024) {
        margin-bottom: 9.75rem;
    }
}