.footer {
    padding-top: 2rem;
    padding-bottom: 1.5rem;

    background-color: $bg-color;

    .page__container {        
        @media (min-width: $w768) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.footer__copyright {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;

    font-size: .9375rem;

    @media (min-width: $w768) {
        margin: 0;
    }
}

.footer__social {
    margin: 0;
    padding: 0;

    .social-links__item {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}