.main-nav {
    @media (min-width: $w1024) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 7rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: 0.3s ease-out;
    }

    @media (min-width: $w1280) {
        max-width: 77rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: auto;
        margin-right: auto;
    }   
}

.main-nav__row {
    @media (max-width: 1023.9px) {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        min-height: 5rem;
    }

    @media (max-width: 1023.9px) {
        background-color: rgba($color: $bg-color, $alpha: 0.8);
        backdrop-filter: blur(24px);
    }

    @media (min-width: $w768) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: $w1024) {
        padding: 0;
    }
}

.main-nav__logo {
    height: 3rem;
    width: 10rem;
}

.main-nav__button {
    display: block;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;

    display: block;

    width: 3rem;
    height: 3rem;

    @media (min-width: $w1024) {
        display: none;
    }
}

.main-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 1023.9px) {
        position: absolute;
        top: 5rem;
        right: 0;
        z-index: 10;

        padding-top: 3rem;
        width: calc((100% - 1rem * 5) / 4 * 3 + 1rem * 2);
        height: 100vh;

        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        backdrop-filter: blur(24px);
        transform: translateX(0);

        transition: 0.2s ease-out;

        &--closed {
            transform: translateX(100%);
            visibility: hidden;
        }
    }

    @media (min-width: $w768) {
        width: calc((100vw - 1rem * 7 - 1.5rem * 2) / 8 * 3 + 1rem * 2);
    }

    @media (min-width: $w1024) {
        width: 30rem;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: $w1280) {
        width: 30.5rem;
    }
}

.main-nav__link {
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    display: block;

    font-family: "SourceCodePro", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .8125rem;
    line-height: 3rem;

    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;

    color: $dark-green;

    @media (min-width: $w1024) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        line-height: 1.5rem;

        opacity: 0.6;

        transition: opacity 0.2s ease-out;

        &:hover {
            opacity: 1;
        }
    }
}

.main-nav__icon {
    fill: $dark-green;
    opacity: 0.9;
}

.main-nav__button-request-wrapper {
    display: none;
    @media (min-width: $w1024) {
        position: relative;
        display: flex;
        align-items: center;
        height: 3rem;
        width: 10rem;
    }
}

.main-nav__button-request {
    display: none;
    @media (min-width: $w1024) {
        display: flex;
        position: absolute;
        right: 0;
        white-space: nowrap;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: .6875rem;
        opacity: 0.8;
        box-sizing: border-box;

        transition: 0.3s ease-out, opacity 0.2s ease-out;
    }
}