.page {
    height: 100%;

    @media (min-width: 1440px) {
        font-size: 1.1vw;
    }
}

.page__body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: .875rem;
    line-height: 1.5rem;

    color: $black85;

    @media (min-width: $w1024) {
        font-size: .9375rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.page__main {
    background-color: #fff;
    
    margin-top: 51rem;
}

.page__start-margin {
    display: none;
    position: relative;
    z-index: -2;

    @media (min-width: $w768) {
        display: block;
        height: 34.25rem;
        margin-bottom: 9.6875rem;
    }

    @media (min-width: $w1024) {
        margin-bottom: 9.875rem;
        height: 41rem;
    }
}

.page__body {
    min-height: 100%;
    margin: 0;
    background-color: #fff;
}

.page__container {
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: $w768) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: $w1280) {
        max-width: 77rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.page__section-title {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2.25rem;
}

.page__row {

    @media (min-width: $w768) {
        margin-top: 2.5rem;
        margin-bottom: 1.4375rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        align-items: start;
    }

    @media (min-width: $w1024) {
        margin-bottom: 2.9375rem;
    }
}

.page__hr {
    border: none;
    margin: 0;

    height: 1px;
    background-color: #A1A1A1;
}

.page__hr-2 {
    border: none;
    margin: 0;

    height: 1px;
    background-color: #CFCFCF;
}

.page__br--1024 {
    display: none;

    @media (min-width: $w1024) {
        display: inline;
    }
}

.page__br--tablet {
    display: none;

    @media (min-width: $w768) and (max-width: 63.99375rem) {
        display: inline;
    }
}

.page__br--mobile {

    @media (min-width: $w768) {
        display: none;
    }
}