.page {
    height: 100%;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: $black85;

    @media (min-width: $w1024) {
        font-size: 15px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.page__main {
    background-color: #fff;
}

.page__start-margin {
    display: none;

    @media (min-width: $w768) {
        display: block;
        height: 548px;
        margin-bottom: 155px;
    }

    @media (min-width: $w1024) {
        margin-bottom: 158px;
        height: 656px;
    }
}

.page__body {
    min-height: 100%;
    margin: 0;
    background-color: #fff;
}

.page__container {
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $w768) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.page__section-title {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 36px;
}

.page__row {

    @media (min-width: $w768) {
        margin-top: 40px;
        margin-bottom: 23px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        align-items: start;
    }

    @media (min-width: $w1024) {
        margin-bottom: 47px;
    }
}

.page__hr {
    border: none;
    margin: 0;

    height: 1px;
    background-color: #A1A1A1;
}

.page__hr-2 {
    border: none;
    margin: 0;

    height: 1px;
    background-color: #CFCFCF;
}

.page__br--1024 {
    display: none;

    @media (min-width: $w1024) {
        display: inline;
    }
}

.page__br--tablet {
    display: none;

    @media (min-width: $w768) and (max-width: 1023.9px) {
        display: inline;
    }
}

.page__br--mobile {

    @media (min-width: $w768) {
        display: none;
    }
}