.portfolio {
    position: relative;

    @media (min-width: $w768) {

        &::before {
            content: "";
            position: absolute;
            height: 6rem;
            top: -6rem;
            width: 100%;
            background-color: rgba($color: $bg-color, $alpha: 0.75);
            background: linear-gradient(180deg, rgba($bg-color, 0.5) 0%, $bg-color 100%);
            backdrop-filter: blur(24px);
        }
    }

    @media (min-width: $w1024) {
        &::before {
            height: 7.5rem;
            top: -7.5rem;
        }
    }
}

.portfolio__title {
    margin: 0;

    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: $w768) {
        margin: 0;
    }
}

.portfolio__text {
    margin: 0;
    margin-bottom: 1.5rem;

    max-width: 30rem;

    @media (min-width: $w768) {
        margin: 0;
    }
}

.portfolio__categories {
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: $w768) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: $w1024) {
        display: block;
        margin: 0;
        padding: 0;

        position: absolute;
        z-index: 1;

        background-color: rgba($color: $bg-color, $alpha: 0.75);
        background: radial-gradient(387.96% 50% at 50% 50%, rgba($bg-color, 0.4) 0%, $bg-color 100%);
        backdrop-filter: blur(24px);
    }
}

.portfolio__gallery {
    margin-top: 0.5rem;
    min-height: 13rem;

    overflow: hidden;

    @media (min-width: $w768) {
        min-height: auto;
    }

    @media (min-width: $w1024) {
        margin-top: 1.5rem;
    }

    & .page__container {
        @media (max-width: 1023.9px) {
            padding: 0;
        }
    }
}

.portfolio__item {
    display: flex;
    margin: 0;
    padding-right: 1rem;
    min-width: calc((100% - 1rem * 3 - 2rem) / 4 * 3 + 1rem * 2);
    height: 100%;

    &:first-child {
        margin-left: 1rem;
    }

    @media (min-width: $w768) {
        min-width: calc((100% - 1rem * 7 - 3rem) / 8 * 3 + 1rem * 2);

        &:last-child {
            padding-right: 1.5rem;
        }

        &:first-child {
            margin-left: 1.5rem;
        }
    }

    @media (min-width: $w1024) {
        padding: 0;

        &:last-child {
            padding-right: 0;
        }

        &:first-child {
            margin: 0;
        }
    }

    & figcaption {
        display: none;
    }
}

.portfolio__item-link {
    display: block;
    position: relative;
    width: 100%;

    overflow: hidden;

    border-radius: 1rem;

    @media (min-width: $w1024) {
        opacity: 0.7;
        transition: opacity 0.2s ease-out;

        &:hover {
            opacity: 1;
        }
    }
}

.portfolio__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid $black10;
}

.portfolio__items-slider {
    @media (max-width: 1023.9px) {
        display: flex;
        height: 13rem;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 3rem;
        margin-bottom: -3rem;

        @media (min-width: $w768) {
            height: 15.5rem;
        }
    }
}

.portfolio__category-gallery {
    display: none;
}

.portfolio__category-gallery {
    &--enabled {
        display: block;
    }
}

.portfolio__gallery-grid {

    @media (min-width: $w1024) {
        display: grid;
        grid-template-columns: repeat(6, calc((100% - 1rem * 5) / 6));
        grid-template-rows: repeat(2, 18.5rem);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        .portfolio__item {
            grid-column: span 2;
        }

        .portfolio__item:nth-child(1) {
            grid-column: 2 / 4;
        }

        .portfolio__item:nth-child(2) {
            grid-column: 4 / 7;
        }
    }

    #cupboards & {
        grid-template-columns: repeat(12, calc((100% - 1rem * 11) / 12));
        grid-template-rows: repeat(2, 24rem);

        .portfolio__item {
            grid-column: span 6;
        }

        .portfolio__item:nth-child(1) {
            grid-column: 3 / 7;
        }

        .portfolio__item:nth-child(2),
        .portfolio__item:nth-child(3) {
            grid-column: span 3;
        }
    }
}

.portfolio__item-empty {
    grid-column: span 1;
}

.portfolio__more-photos {
    padding-top: 3.5rem;
    text-align: center;
}

.portfolio__more-photos-text {
    margin: 0;
    margin-top: 1.5rem;
}

.portfolio__more-photos-button {
    display: inline-flex;
}

.portfolio__more-photos-icon {
    margin-top: .125rem;
    margin-left: 4px;
}