.process__title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 96px;
    position: relative;

    &::after {
        content: "";
        height: 56px;
        position: absolute;
        bottom: -64px;
        left: 0;
        width: 248px;
        background-image: url("../img/dest/images/5steps.svg");
    }

    @media (min-width: $w768) {
        margin: 0;
    }
}

.process__steps-list {
    margin: 0;
    padding: 0;
    list-style: none;

    margin-top: 48px;

    @media (min-width: $w768) {
        margin-top: 8px;
    }
}

.process__steps-item {
    margin-bottom: 32px;

    display: flex;

    &:last-child {
        margin-bottom: 0;
    }
}

.process__emoji {
    margin-top: 8px;
    margin-right: 20px;
    width: 28px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
}

.process__text {
    margin: 0;
    margin-bottom: 16px;
}

.process .page__row {
    margin-bottom: 40px;

    @media (min-width: $w1024) {
        margin-bottom: 56px;
    }
}

.process__image {
    height: 100%;
    background-color: #c4c4c4;
}