.process__title {
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    position: relative;

    &::after {
        content: "";
        height: 3.5rem;
        position: absolute;
        bottom: -4rem;
        left: 0;
        width: 15.5rem;
        background-image: url("../img/dest/images/5steps.svg");
        background-size: cover;
    }

    @media (min-width: $w768) {
        margin: 0;
    }
}

.process__steps-list {
    margin: 0;
    padding: 0;
    list-style: none;

    margin-top: 3rem;

    @media (min-width: $w768) {
        margin-top: .5rem;
    }
}

.process__steps-item {
    margin-bottom: 2rem;

    display: flex;

    &:last-child {
        margin-bottom: 0;
    }
}

.process__emoji {
    margin-top: .5rem;
    margin-right: 1.25rem;
    width: 1.75rem;
    height: 2rem;
    font-size: 1.75rem;
    line-height: 2rem;
}

.process__text {
    margin: 0;
    margin-bottom: 1rem;
}

.process .page__row {
    margin-bottom: 2.5rem;

    @media (min-width: $w1024) {
        margin-bottom: 3.5rem;
    }
}

.process__image {
    height: 100%;
    background-color: #c4c4c4;
}