.social-links {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.social-links__icon {
    width: 3rem;
    height: 3rem;

    color: $bg-color;
    fill: #000;
    opacity: 0.6;

    transition: color 0.2s, opacity 0.2s;
}

.social-links__link {
    display: block;
    font-size: 0;
    line-height: 0;

    &:hover {
        .social-links__icon {
            opacity: 1;
            color: rgba($color: $accent-color, $alpha: 0.15);
        }
    }
}

.social-links__item {

    margin-right: 1.5rem;
    
    &:last-child {
        margin-right: 0;
    }
}