.start {
    box-sizing: border-box;
    padding-bottom: 4.9375rem;

    position: relative;
    top: 0;

    @media (min-width: $w768) {
        padding-bottom: 0;
        height: 32.5rem;

        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
    }

    @media (min-width: $w1024) {
        min-height: auto;
        height: 41rem;
    }
}

.start__col-1 {
    @media (min-width: $w768) {
        position: relative;
        z-index: 1;
        margin-top: 10.5rem;

        width: calc((100% - 3rem - 1rem * 11) / 12 * 6 + 1rem * 5);
    }

    @media (min-width: $w1280) {
        width: 100%;
        margin-top: 12rem;
    }
}

.start__message-text {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-family: "Prata", 'Times New Roman', Times, serif;
    font-size: 9.38vw;
    line-height: 12.5vw;
    font-weight: 400;

    @media (min-width: $w768) {
        margin: 0;
        margin-bottom: 1.5rem;

        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    @media (min-width: $w1024) {
        margin-bottom: 2.5rem;

        font-size: 3rem;
        line-height: 3.5rem;
    }
}

.start__message-subtext {
    margin: 0;
    margin-bottom: 2rem;

    @media (min-width: $w768) {
        margin-bottom: 2.5rem;
    }

    @media (min-width: $w1024) {
        margin-bottom: 4.5rem;
    }
}

.start__image {
    position: relative;
    min-height: 23rem;
    height: 64.789vh;

    @media (min-width: $w768) {
        position: absolute;
        top: 0;
        right: 0;
        width: 57.324vw;
        height: 100%;
    }

    @media (min-width: $w1024) {
        width: auto;
        left: 42.676%;
    }

    @media (min-width: $w1280) {
        left: 44.141%;
    }
}

.start__image--sketch {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/dest/images/start-image-sketch-320.webp");
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
        background-image: url("../img/dest/images/start-image-sketch-320.png");
    }

    @media (min-width: $w768) {
        background-image: url("../img/dest/images/start-image-sketch-768.webp");
        background-position-x: 0;

        .no-webp & {
            background-image: url("../img/dest/images/start-image-sketch-768.png");
        }
    }

    @media (min-width: $w1024) {
        background-image: url("../img/dest/images/start-image-sketch-1024.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-sketch-1024.png");
        }
    }
}

.start__image--color {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/dest/images/start-image-color-320.webp");
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
        background-image: url("../img/dest/images/start-image-color-320.png");
    }

    @media (min-width: $w768) {
        background-position-x: 0;
        background-image: url("../img/dest/images/start-image-color-768.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-color-768.png");
        }
    }

    @media (min-width: $w1024) {
        background-image: url("../img/dest/images/start-image-color-1024.webp");

        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        .no-webp & {
            background-image: url("../img/dest/images/start-image-color-1024.png");
        }
    }
}

.start__hr {
    margin: 0;
    margin-top: 2.6875rem;
    margin-bottom: 1rem;
    border: none;

    height: .0625rem;
    width: 5rem;
    background-color: rgba($color: #000000, $alpha: 0.3);

    @media (min-width: $w768) {
        margin-top: 2.9375rem;
        margin-bottom: 1rem;
    }

    @media (min-width: $w1024) {
        margin-top: 4.9375rem;
    }

    @media (min-width: $w1280) {
        margin-top: 4.9375rem;
    }
}

.start__address {
    margin: 0;

    font-size: .875rem;

    @media (min-width: $w768) {
        margin-bottom: 0;
        margin-top: auto;
    }
}

.start__nav {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;

    &--bg {        
        background-color: rgba($color: $bg-color, $alpha: 0.8);
        backdrop-filter: blur(24px);
    }
}

.start__message-row-wrapper {
    display: inline-flex;
    overflow: hidden;
}

@media (min-width: $w1024) {
    .loaded .start-image-anim {
        animation: 1s ease-out start-image-anim;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
}