.start {
    box-sizing: border-box;
    padding-bottom: 79px;

    position: relative;
    top: 0;

    @media (min-width: $w768) {
        padding-top: 40px;
        padding-bottom: 0;
        height: 520px;

        position: fixed;
        left: 0;
        right: 0;
        z-index: -1;
    }

    @media (min-width: $w1024) {
        min-height: auto;
        height: 656px;
    }
}

.start__col-1 {
    @media (min-width: $w768) {
        position: relative;
        z-index: 1;

        width: calc((100% - 48px - 16px * 11) / 12 * 6 + 16px * 5);
    }

    @media (min-width: $w1280) {
        width: 100%;
    }
}

.start__message-text {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;

    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 9.38vw;
    line-height: 12.5vw;

    @media (min-width: $w768) {
        margin: 0;
        margin-bottom: 24px;

        font-size: 36px;
        line-height: 40px;
    }

    @media (min-width: $w1024) {
        margin-bottom: 40px;

        font-size: 48px;
        line-height: 56px;
    }
}

.start__message-subtext {
    margin: 0;
    margin-bottom: 32px;

    @media (min-width: $w768) {
        margin-bottom: 40px;
    }

    @media (min-width: $w1024) {
        margin-bottom: 72px;
    }
}

.start__image {
    position: relative;
    min-height: 400px;

    @media (min-width: $w768) {
        position: absolute;
        top: 0;
        right: 0;
        width: 57.324vw;
        height: 100%;
    }

    @media (min-width: $w1024) {
        width: auto;
        left: 42.676%;
    }

    @media (min-width: $w1280) {
        left: 44.141%;
    }

    @media (min-width: 1592px) {
        width: 871px;
        right: calc((100vw - 1592px) / 2);
        left: auto;
    }
}

.start__image--sketch {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/dest/images/start-image-sketch-320.webp");
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
        background-image: url("../img/dest/images/start-image-sketch-320.png");
    }

    @media (min-width: $w768) {
        background-image: url("../img/dest/images/start-image-sketch-768.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-sketch-768.png");
        }
    }

    @media (min-width: $w1024) {
        background-image: url("../img/dest/images/start-image-sketch-1024.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-sketch-1024.png");
        }
    }

    @media (min-width: 1592px) {
        background-image: url("../img/dest/images/start-image-sketch-1560.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-sketch-1560.png");
        }
    }
}

.start__image--color {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/dest/images/start-image-color-320.webp");
    background-size: cover;
    background-repeat: no-repeat;

    .no-webp & {
        background-image: url("../img/dest/images/start-image-color-320.png");
    }

    @media (min-width: $w768) {
        background-position-x: 66.17px;
        background-image: url("../img/dest/images/start-image-color-768.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-color-768.png");
        }
    }

    @media (min-width: $w1024) {
        background-position-x: 0;
        background-image: url("../img/dest/images/start-image-color-1024.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-color-1024.png");
        }
    }

    @media (min-width: 1592px) {
        background-image: url("../img/dest/images/start-image-color-1560.webp");

        .no-webp & {
            background-image: url("../img/dest/images/start-image-color-1560.png");
        }
    }
}

.start__hr {
    margin: 0;
    margin-top: 43px;
    margin-bottom: 16px;
    border: none;

    height: 1px;
    width: 80px;
    background-color: rgba($color: #000000, $alpha: 0.3);

    @media (min-width: $w768) {
        margin-top: 47px;
        margin-bottom: 16px;
    }

    @media (min-width: $w1024) {
        margin-top: 79px;
    }

    @media (min-width: $w1280) {
        margin-top: 79px;
    }
}

.start__address {
    margin: 0;

    font-size: 14px;

    @media (min-width: $w768) {
        margin-bottom: 0;
        margin-top: auto;
    }
}

.start__logo {
    position: absolute;
    top: 24px;
    left: 16px;

    @media (min-width: $w768) {
        position: static;
        margin-bottom: 96px;
    }

    @media (min-width: $w1024) {
        margin-bottom: 120px;
    }

    @media (min-width: $w1280) {
        margin-bottom: 0;
    }
}

.start__logo-text {
    margin: 0;
    display: none;

    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.6);

    @media (min-width: $w1280) {
        display: block;
        position: relative;
        margin-left: 30px;

        &::before {
            content: "";
            position: absolute;
            left: -16px;
            height: 100%;
            width: 1px;
            background-color: #A1A1A1;
        }
    }
}

.start__logo-wrapper {
    @media (min-width: $w1280) {
        margin-bottom: 120px;

        display: flex;
        align-items: center;
    }
}