@import "../lib/fonts.scss";
@import "../lib/variables.scss";
@import "../lib/aos/aos.scss";
@import "../lib/animation.scss";
@import "../lib/photoswipe/photoswipe.scss";
@import "../lib/photoswipe/default-skin/default-skin.scss";
@import "../lib/swiper-bundle.scss";
@import "../lib/swiper.scss";
@import "../blocks/page.scss";
@import "../lib/button.scss";
@import "../blocks/social-links.scss";
@import "../blocks/start.scss";
@import "../blocks/main-nav.scss";
@import "../lib/visually-hidden.scss";
@import "../blocks/portfolio.scss";
@import "../blocks/categories-list.scss";
@import "../blocks/technologies.scss";
@import "../blocks/about.scss";
@import "../blocks/features-list.scss";
@import "../blocks/process.scss";
@import "../blocks/cta.scss";
@import "../blocks/request-form.scss";
@import "../blocks/contacts.scss";
@import "../blocks/footer.scss";